{% extends "baseCertification.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}


{%  block comment  %}<!--Menu just replace the parent with the link here and add the word "active" to the class= for the current page name-->
    <!-- <li class="nav-item active"><a href="" class="nav-link">Forum</a></li> -->{% endblock %}

{% block home %} {{ parent() }} {% endblock %}
{% block about %} {{ parent() }} {% endblock %}
{% block certifications %} {{ parent() }} {% endblock %}
{% block instructors %} {{ parent() }} {% endblock %}
{% block forum %}  {{ parent() }} {% endblock %}
{% block contact %} {{ parent() }} {% endblock %}


{%  block sectionname %} Add Certification {% endblock %}
{% block sectionmenu %} Certification {% endblock %}

{% block contenu  %}


    <center>
    <div class="login-wrap p-4 p-md-5" style="margin-top: 5px;">
    <h1 class="unselectable hvr-hang-auto"> Add A New Certification  </h1>

    {{ form_start(form) }}

    <div class="form-group hvr-grow" style="width: 800px;">
        <label class="label" for="Title">Title</label>
        {{ form_widget(form.Title, {'attr': {'class': 'form-control'}}) }}
    </div>


    <div class="form-group hvr-grow" style="width: 800px;">
        <label class="label" for="Certification">Company</label>
        {{ form_widget(form.Company, {'attr': {'class': 'form-control form-select'}}) }}
    </div>

        <div class="form-group hvr-grow" style="width: 800px;">
            <label class="label" for="Certification">Difficulty</label>
            {{ form_widget(form.Difficulty, {'attr': {'class': 'form-control form-select'}}) }}
        </div>

        <div class="form-group hvr-grow" style="width: 800px;">
            <label class="label" for="Certification">Category</label>
            {{ form_widget(form.Category, {'attr': {'class': 'form-control form-select'}}) }}
        </div>


        <div class="form-group hvr-grow " style="width: 800px;">
                {{ form_widget(form.Picture, {'attr': {'class': 'form-control file'}}) }}
        </div>






        <div class="form-group hvr-grow " style="width: 800px;">
            {{ form_widget(form.documents, {'attr': {'class': 'form-control file'}}) }}
    </div>


        <div class="form-group d-flex justify-content-end mt-4">
            <button type="submit" class="btn btn-primary submit"><span class="fa fa-paper-plane"></span></button></div>

    {{ form_end(form) }}




    </br>
    <table width="1100" style="margin-left: -110px;">
     <tr>
     <td>
         <center>
    <div class="svg-wrapper-green">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
            <rect id="shape-green" height="40" width="150" />
            <div id="text" >
                &nbsp;<a href="{{ path("certification") }}"><span class="spot"></span><span style="color: #0b7dfd;">Certifications</span> </a>
            </div>
        </svg>
    </div>
         </center>
     </td>

         <td>
         <center>
    <div class="svg-wrapper-green" style="margin-right: -70px;">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape-green" height="40" width="150" />
        <div id="text" >
            &nbsp;<a href="{{ path('add_category')}}"><span class="spot"></span><span style="color: #0b7dfd;">Add Category</span></a>
        </div>
    </svg>
    </div>
    </center>
         </td>
    <td>
    <div class="svg-wrapper-green" style="float: right;">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
            <rect id="shape-green" height="40" width="150" />
            <div id="text" >
                &nbsp;<a href="{{ path('add_company')}}"><span class="spot"></span><span style="color: #0b7dfd;">Add Company</span></a>
            </div>
        </svg>
    </div>
    </td>
     </tr>
    </table>
    </div>



    <style>
        /*       Just setting CSS for the page   */

        * {
            margin: 0;
            padding: 0;
        }

        html,
        css {
            width: 100%;
            height: 100%;
        }

        .position {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 15%;
        }

        #workarea {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #1e1a3e;
            font-family: Raleway;
        }

        #personal {
            color:white;
            text-decoration:none;
            position:absolute;
            bottom:15px;
            right:2%;
        }
        /*    start code for the actual button:         */


        /*
            Spot is the span on the inside of the href that
            fills the parent and makes the hover and link work
            for the entire div
        */

        .spot {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        /*
            This is the outer svg wrapper that the SVG itself will
            fill. Multiple svg-wrapper classes can be put side by side.
        */

        .svg-wrapper {
            margin-top: 0;
            position: relative;
            width: 150px;
            /*make sure to use same height/width as in the html*/
            height: 40px;
            display: inline-block;
            border-radius: 3px;
            margin-left: 5px;
            margin-right: 5px
        }
        .svg-wrapper-red {
            margin-top: 0;
            position: relative;
            width: 150px;
            /*make sure to use same height/width as in the html*/
            height: 40px;
            display: inline-block;
            border-radius: 3px;
            margin-left: 5px;
            margin-right: 5px
        }
        .svg-wrapper-green {
            margin-top: 0;
            position: relative;
            width: 150px;
            /*make sure to use same height/width as in the html*/
            height: 40px;
            display: inline-block;
            border-radius: 3px;
            margin-left: 5px;
            margin-right: 5px
        }
        /*
          This is where we define the fill, color, thickness,
          and stroke pattern of the SVG when there is no hover.
          The dasharray and offset together define the line position
          under the words. Here's also where the transition speed is set.
        */

        #shape {
            stroke-width: 6px;
            fill: transparent;
            stroke: #009FFD;
            stroke-dasharray: 85 400;
            stroke-dashoffset: -220;
            transition: 1s all ease;
        }
        #shape-red {
            stroke-width: 6px;
            fill: transparent;
            stroke: darkred;
            stroke-dasharray: 85 400;
            stroke-dashoffset: -220;
            transition: 1s all ease;
        }
        #shape-green {
            stroke-width: 6px;
            fill: transparent;
            stroke: green;
            stroke-dasharray: 85 400;
            stroke-dashoffset: -220;
            transition: 1s all ease;
        }
        /*
            Pushing the text up into the SVG. Without this the
            text would be below the div's.
        */

        #text {
            margin-top: -35px;
            text-align: center;
        }

        #text a {
            color: white;
            text-decoration: none;
            font-weight: 100;
            font-size: 1.1em;
        }
        /*
            Changing the shape on hover. I change the color of the stroke,
        make it thinner, then set it to again wrap around the entire parent element.
        */

        .svg-wrapper:hover #shape {
            stroke-dasharray: 50 0;
            stroke-width: 3px;
            stroke-dashoffset: 0;
            stroke: #06D6A0;
        }
        .svg-wrapper-red:hover #shape-red {
            stroke-dasharray: 50 0;
            stroke-width: 3px;
            stroke-dashoffset: 0;
            stroke: red;
        }
        .svg-wrapper-green:hover #shape-green {
            stroke-dasharray: 50 0;
            stroke-width: 3px;
            stroke-dashoffset: 0;
            stroke: greenyellow;
        }
    </style>



    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/js/fileinput.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/themes/fa/theme.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" type="text/javascript"></script>

{% endblock %}