{%  extends "Client/base.html.twig" %}

{#
{% block title %}Add a reply{% endblock %}

{% block body %}
    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('details_comment', {'id': id}) }}">back to list</a>
{% endblock %}

#}

{% block contenu %}
    <div class="container mb-5 mt-5">
        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    {#       <h3 class="text-center mb-5"> Nested comment section </h3>  #}
                    <div class="row">
                        <div class="col-md-12">


                            <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                                {#              <img class="img-fluid img-responsive rounded-circle mr-2" src={{ pic }} width="38">
                                #}




                                {#         <input type="text"  class="form-control mr-3" placeholder="Add comment"><a href="#">Comment</a>
                                #}
                                {{ form_start(form) }}
                                <div class="form-group " style="width: 800px;">
                                    {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                {#             {{ form_widget(form.content,{'attr': {'class': 'form-control'}}) }}
                                #}       <button class="btn text-primary">{{ button_label|default('  Comment') }}</button>
                                {{ form_end(form) }}



                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <style>

        html,
        body {
            width: 100%;
            height: 100%;
        }

        body {
            display: grid;
            font-family: Arial, Poppins ,sans-serif;
            background: #9C27B0
        }

        .card {
            position: relative;
            display: flex;
            padding: 20px;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid #d2d2dc;
            border-radius: 11px;
            -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
            -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
            box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
        }

        .media img {
            width: 60px;
            height: 60px
        }

        .reply a {
            text-decoration: none
        }
    </style>




{% endblock %}
