{% extends "baseCertification.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}


{%  block comment  %}<!--Menu just replace the parent with the link here and add the word "active" to the class= for the current page name-->
    <!-- <li class="nav-item active"><a href="" class="nav-link">Forum</a></li> -->{% endblock %}

{% block home %} {{ parent() }} {% endblock %}
{% block about %} {{ parent() }} {% endblock %}
{% block certifications %} {{ parent() }} {% endblock %}
{% block instructors %} {{ parent() }} {% endblock %}
{% block forum %}  {{ parent() }} {% endblock %}
{% block contact %} {{ parent() }} {% endblock %}


{%  block sectionname %} Add Category {% endblock %}
{% block sectionmenu %} Category {% endblock %}
{% block contenu %}
<center>


        <div class="login-wrap p-4 p-md-5" style="margin-top: 5px;">
            <h1 class="unselectable hvr-hang-auto">Add A New Category</h1>


            {{ form_start(form) }}

            <div class="form-group hvr-grow" style="width: 800px;">
                <label class="label" for="Title">Title</label>
                {{ form_widget(form.Name, {'attr': {'class': 'form-control'}}) }}
            </div>


            <div class="form-group d-flex justify-content-end mt-4">
                <button type="submit" class="btn btn-primary submit"><span class="fa fa-paper-plane"></span></button>
            </div>
            {{ form_end(form) }}

            <div class="svg-wrapper-green ftco-animate" style="margin-left: -1px;">
                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                    <rect id="shape-green" height="40" width="150" />
                    <div id="text" >
                        &nbsp;<a href="{{ path("add_certification") }}"><span class="spot"></span><span style="color: #0b7dfd;">Go Back</span> </a>
                    </div>
                </svg>
            </div>

        </div>
</center>
{% endblock  %}