<!DOCTYPE html>

<title>Records</title>

{% block body %}
    <h1>Records</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ record.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ record.User }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ record.Score }}</td>
            </tr>
            <tr>
                <th>WhiteTest</th>
                <td>{{ record.WhiteTest }}</td>
            </tr>
            <tr>
                <th>Certification</th>
                <td>{{ record.Certification }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ record.Date ? record.Date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('records_index') }}">back to list</a>

    <a href="{{ path('records_edit', {'id': record.id}) }}">edit</a>

    {{ include('records/_delete_form.html.twig') }}
{% endblock %}
