{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}



{% block page_title %} Dashboad {% endblock %}

{% block content %}
    <div class="content">

        <div class="container">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">{{ 'page.dashboard.title'|trans }}</a>
                </li>
                <li class="breadcrumb-item active">{{ app.user.username }} </li>
            </ol>
            <!-- Icon Cards-->
        </div>

        <div class="container">
            <div class="row">
                <h1> Tableau de bord </h1>
            </div>
            <div class="row mt-3">
                <div class="col-6 alert-success">
                    <span class="display-3">{{ numberUsers }}  </span> Utilisateurs
                </div>
                <div class="col-6 alert-dark">
                    <span class="display-3"> {{ countWT }} </span> White tests
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <h3> Liste des villes </h3>

                    <ul class="list-group">
                        {#
                        {% for city in cities %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="display-4">
                                <i class="fa fa-map"></i>
                                {{ city.name }}
                            </span>
                                <span class="badge badge-pill">
                                <img class="img-thumbnail" src="{{ vich_uploader_asset(city, 'imageFile') }}" style="width: 150px;">
                            </span>
                            </li>
                        {% endfor %}#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{#
<style>
    p { max-width: 600px; }
</style>

<p>
    <strong>You have successfully change and installed EasyAdmin 3 in your application!</strong>
</p>

<p>
    You are seeing this example page because you haven't configured the start page
    of your Dashboard. To do that, open the following file in your editor:
</p>

<pre>{{ dashboard_controller_filepath }}</pre>

<p>
    Then, add the following method to it to customize the Dashboard start page:
</p>

<pre>
use EasyCorp\Bundle\EasyAdminBundle\Controller\AbstractDashboardController;
use EasyCorp\Bundle\EasyAdminBundle\Router\AdminUrlGenerator;
use Symfony\Component\HttpFoundation\Response;
use Symfony\Component\Routing\Annotation\Route;
// ...

class {{ dashboard_controller_class }} extends AbstractDashboardController
{
    /**
     * @Route("/admin")
     */
    public function index(): Response
    {
        // redirect to some CRUD controller
        $routeBuilder = $this->get(AdminUrlGenerator::class);

        return $this->redirect($routeBuilder->setController(OneOfYourCrudController::class)->generateUrl());

        // you can also redirect to different pages depending on the current user
        if ('jane' === $this->getUser()->getUsername()) {
            return $this->redirect('...');
        }

        // you can also render some template to display a proper Dashboard
        // (tip: it's easier if your template extends from @EasyAdmin/page/content.html.twig)
        return $this->render('some/path/my-dashboard.html.twig');
    }

    // ...
}
    </pre>

#}

