<!DOCTYPE html>

<title>Question index</title>

{% block body %}
    <h1>Question index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Answer</th>
                <th>Question</th>
                <th>ChoiceA</th>
                <th>ChoiceB</th>
                <th>ChoiceC</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.Answer }}</td>
                <td>{{ question.Question }}</td>
                <td>{{ question.ChoiceA }}</td>
                <td>{{ question.ChoiceB }}</td>
                <td>{{ question.ChoiceC }}</td>
                <td>
                    <a href="{{ path('question_crud_show', {'id': question.id}) }}">show</a>
                    <a href="{{ path('question_crud_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('question_crud_new') }}">Create new</a>
{% endblock %}
