{%  extends "Client/base.html.twig" %}
{% block title %}Add WhiteTest{% endblock %}


{%  block comment  %}<!--Menu just replace the parent with the link here and add the word "active" to the class= for the current page name-->
    <!-- <li class="nav-item active"><a href="" class="nav-link">Forum</a></li> -->{% endblock %}

{% block home %} {{ parent() }} {% endblock %}
{% block about %} {{ parent() }} {% endblock %}
{% block certifications %} {{ parent() }} {% endblock %}
{% block instructors %} {{ parent() }} {% endblock %}
{% block forum %}  {{ parent() }} {% endblock %}
{% block contact %} {{ parent() }} {% endblock %}


{%  block sectionname %} Add A Question {% endblock %}
{% block sectionmenu %} Question {% endblock %}

{% block contenu %}
    <center>
        <table >
            <h1>Create new Question</h1>

            {{ include('question_crud/_form.html.twig') }}

            <a href="{{ path('question_crud_index') }}">back to list</a>
        </table>
    </center>
{% endblock %}
