{%  extends "Client/base.html.twig" %}
{% block title %}WhiteTest{% endblock %}


{%  block comment  %}<!--Menu just replace the parent with the link here and add the word "active" to the class= for the current page name-->
    <!-- <li class="nav-item active"><a href="" class="nav-link">Forum</a></li> -->{% endblock %}

{% block home %} {{ parent() }} {% endblock %}
{% block about %} {{ parent() }} {% endblock %}
{% block certifications %} {{ parent() }} {% endblock %}
{% block instructors %} {{ parent() }} {% endblock %}
{% block forum %}  {{ parent() }} {% endblock %}
{% block contact %} {{ parent() }} {% endblock %}


{%  block sectionname %} Question Number {{ i+1 }} {% endblock %}
{% block sectionmenu %}  {{ whitetest }}{% endblock %}
{% block div %}<div id="quiz"></div>{% endblock %}
{% block contenu %}

<div class="d-flex justify-content-center" >

    <div style="float: right;color: red" >Question Time Ends In <span id="time">{{ question.Duration }}</span> Minutes!</div>
</div>
    </br>
    </br>
<div class="d-flex justify-content-center" >


<table border="1" class="table-hover table-dark table"  id="refresh-section">

    <tr><td align="center" class="unselectable">{{ question.Question }}</td><tr>

    <tr><td align="center"><a onclick="confA()" href="#quiz">{{ question.ChoiceA }}</a></td><tr>

    <tr><td align="center"><a onclick="confB()" href="#quiz">{{ question.ChoiceB }}</a></td></tr>

    {% if question.ChoiceC!=null %}<tr><td align="center"><a onclick="confC()" href="#quiz">{{ question.ChoiceC }}</a></td></tr>{% endif %}

</table>



</div></br>

    <script type="text/javascript" >
        function startTimer(duration, display) {
            var cheat=0;
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                    {%  set out=0  %} ;
                    {% if  out==0 %}window.location.replace("{{ path('passerWT', {'id': whitetestid,'i':i+1,"answer":"nothing",'score':score} ) }}");{% endif %};
                }
            }, 1000);
        }






        window.onload = function () {

            var Minutes = 60 * parseInt({{ question.Duration }}, 10),
                display = document.querySelector('#time');
            startTimer(Minutes, display);



        };
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script>


        $(document).ready(function() {
            $("body").on("contextmenu", function(e) {
                return false;
            });
        });
    </script>
    <style>
        /* unvisited link */
        a:link {
            color: white;
        }

        /* visited link */
        a:visited {
            color: white;
        }

        /* mouse over link */
        a:hover {
            color: hotpink;
        }

        /* selected link */
        a:active {
            color: blue;
        }
    </style>
    <style>
        .unselectable {
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    </style>

    <script src=
            "https://code.jquery.com/jquery-3.6.0.min.js"
            integrity=
            "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(function() {
            function disableBack() {
                window.history.forward();
            }
            window.onload = disableBack();

            window.onpageshow = function(e) {
                if (e.persisted)
                    disableBack();
            }
        });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="sweetalert2.all.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confA(){
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes!',
                cancelButtonText: 'No!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    swalWithBootstrapButtons.fire(
                        'Saved!',
                        'Your Answer Is Saved.',
                        'Success'
                    )
                    window.location.replace("{{ path('passerWT', {'id': whitetestid,'i':i+1,"answer":"A",'score':score} ) }}");
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Review Your Answer Please :)'
                    )
                }
            });
        }

        function confB(){
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes!',
                cancelButtonText: 'No!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    swalWithBootstrapButtons.fire(
                        'Saved!',
                        'Your Answer Is Saved.',
                        'Success'
                    )
                    window.location.replace("{{ path('passerWT', {'id': whitetestid,'i':i+1,"answer":"B",'score':score} ) }}");
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Review Your Answer Please :)'
                    )
                }
            });
        }

        function confC(){
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes!',
                cancelButtonText: 'No!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    swalWithBootstrapButtons.fire(
                        'Saved!',
                        'Your Answer Is Saved.',
                        'Success'
                    )
                    window.location.replace("{{ path('passerWT', {'id': whitetestid,'i':i+1,"answer":"C",'score':score} ) }}");
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        'Review Your Answer Please :)'
                    )
                }
            });
        }
    </script>
{% endblock %}

