{%  extends "Client/base.html.twig" %}
{% block title %}WhiteTest{% endblock %}


{%  block comment  %}<!--Menu just replace the parent with the link here and add the word "active" to the class= for the current page name-->
    <!-- <li class="nav-item active"><a href="" class="nav-link">Forum</a></li> -->{% endblock %}

{% block home %} {{ parent() }} {% endblock %}
{% block about %} {{ parent() }} {% endblock %}
{% block certifications %} {{ parent() }} {% endblock %}
{% block instructors %} {{ parent() }} {% endblock %}
{% block forum %}  {{ parent() }} {% endblock %}
{% block contact %} {{ parent() }} {% endblock %}


{%  block sectionname %} Test {% endblock %}
{% block sectionmenu %} Test {% endblock %}
{% block contenu %}

<div class="d-flex justify-content-center">
    <div style="float: right;color: red">Question Time Ends In <span id="time">{{ question.Duration }}</span> Minutes!</div>
</div>
    </br>
    </br>
<div class="d-flex justify-content-center">


<table border="1" class="table-hover table-dark table">

    <tr><td align="center">{{ question.Question }}</td><tr>

    <tr><td align="center"><a href="{{ path('passerWT', {'id': whitetestid,'i':i+1,"answer":"A",'score':score} ) }}">{{ question.ChoiceA }}</a></td><tr>

    <tr><td align="center"><a href="{{ path('passerWT', {'id': whitetestid,'i':i+1,"answer":"B",'score':score} ) }}">{{ question.ChoiceB }}</a></td></tr>

    {% if question.ChoiceC!=null %}<tr><td align="center"><a href="{{ path('passerWT', {'id': whitetestid,'i':i+1,"answer":"C",'score':score} ) }}">{{ question.ChoiceC }}</a></td></tr>{% endif %}

</table>

</div></br>
    <script type="text/javascript" >
        function preventBack(){window.history.forward();}
        setTimeout("preventBack()", 0);
        window.onunload=function(){null;};
    </script>
    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                    {%  set out=0  %} ;
                     {% if  out==0 %}window.location.replace("{{ path('passerWT', {'id': whitetestid,'i':i+1,"answer":"A",'score':score} ) }}");{% endif %};
                }
            }, 1000);
        }

        window.onload = function () {
            var Minutes = 60 * parseInt({{ question.Duration }}, 10),
                display = document.querySelector('#time');
            startTimer(Minutes, display);
        };
    </script>
    <style>
        /* unvisited link */
        a:link {
            color: white;
        }

        /* visited link */
        a:visited {
            color: white;
        }

        /* mouse over link */
        a:hover {
            color: hotpink;
        }

        /* selected link */
        a:active {
            color: blue;
        }
    </style>
{% endblock %}

