
{# {{ form_start(form) }}

{{ form_widget(form.CIN, {'attr': {'class': 'form-control'}}) }}
{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
{{ form_widget(form.FirstName, {'attr': {'class': 'form-control'}}) }}
{{ form_widget(form.LastName, {'attr': {'class': 'form-control'}}) }}



    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}


{% block body %}
    {{ form_start(form) }}
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">

                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="{{ pic }}"><span class="font-weight-bold">{{ user1.firstname }} {{ user1.lastname}} </span>
                    <span>{{ form_widget(form.imageFile) }}  </span>
                </div>

            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label>{{ form_widget(form.FirstName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-6"><label class="labels">Surname</label>{{ form_widget(form.LastName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Email </label>{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>

                        <div class="col-md-12"><label class="labels">CIN </label>{{ form_widget(form.CIN, {'attr': {'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="col-md-12"><label class="labels">Birthdate </label>{{ form_widget(form.Birthdate) }}</div>

                    {# <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                    </div> #}



                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit" value="Edit">{{ button_label|default('Save') }}</button>
                    </div>


                </div>
            </div>

        </div>
    </div>


    {{ form_end(form) }}

{% endblock %}


