{% extends 'base.html.twig' %}

{% block title %}User1{% endblock %}

{% block body %}
    <h1>User1</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user1.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user1.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user1.roles ? user1.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user1.password }}</td>
            </tr>
            <tr>
                <th>CIN</th>
                <td>{{ user1.CIN }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user1.FirstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user1.LastName }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ user1.Birthdate ? user1.Birthdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ user1.picture }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ user1.updatedAt ? user1.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user1.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user1_edit', {'id': user1.id}) }}">Edit</a>





    {{ include('user1/_delete_form.html.twig') }}
{% endblock %}
