{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}



{# {% block body %}
    <h1>User1</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user1.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user1.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user1.roles ? user1.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user1.password }}</td>
            </tr>
            <tr>
                <th>CIN</th>
                <td>{{ user1.CIN }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user1.FirstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user1.LastName }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ user1.Birthdate ? user1.Birthdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ user1.picture }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ user1.updatedAt ? user1.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user1.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user1_edit', {'id': user1.id}) }}">Edit</a>






{% endblock %}  #}

{% block body %}
    <h1>My Profile</h1>


    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="{{ pic }}"><span class="font-weight-bold">{{ user1.firstname }} {{ user1.lastname}} </span>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" placeholder="first name" value="{{ user1.firstname }}" disabled></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" value="{{ user1.lastname }}" placeholder="surname" disabled></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Email </label><input type="text" class="form-control" placeholder="education" value="{{ user1.email }}" disabled></div>

                        <div class="col-md-12"><label class="labels">CIN </label><input type="text" class="form-control" placeholder="education" value="{{ user1.cin }}" disabled></div>

                    </div>
                    <div class="col-md-12"><label class="labels">Birthdate </label><input type="text" class="form-control" placeholder="education" value="{{ user1.Birthdate | date('m/d/Y') }}"disabled></div>

                    {# <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
                    </div> #}

                    <form action="{{ path('user1_edit', {'id': user1.id}) }}">

                        <div class="mt-5 text-center"><input  class="btn btn-primary profile-button" type="submit" value="Edit" >  </div>

                    </form>



                </div>
            </div>

        </div>
    </div>



{% endblock %}

