{% extends "baseCertification.html.twig" %}
{% block title %}{{ parent() }}{% endblock %}


{%  block comment  %}<!--Menu just replace the parent with the link here and add the word "active" to the class= for the current page name-->
    <!-- <li class="nav-item active"><a href="" class="nav-link">Forum</a></li> -->{% endblock %}

{% block home %} {{ parent() }} {% endblock %}
{% block about %} {{ parent() }} {% endblock %}
{% block certifications %} {{ parent() }} {% endblock %}
{% block instructors %} {{ parent() }} {% endblock %}
{% block forum %}  {{ parent() }} {% endblock %}
{% block contact %} {{ parent() }} {% endblock %}


{%  block sectionname %} Add Company {% endblock %}
{% block sectionmenu %} Company {% endblock %}
{% block contenu %}
<center>
    <h1> Add a new Company</h1>

    <form action =""  method="post">
        {{ form_widget(formCompany) }}
        <input type="submit" value="Add Company" >
    </form>
</center>
{% endblock  %}