{%  extends "Client/base.html.twig" %}
{%  block sectionname %}  WhiteTests {% endblock %}
    {% block sectionmenu %}  {{ certif }} {% endblock %}
{% block contenu %}




    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Questions</th>
                <th></th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Actions</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
        {% for white_test in white_tests %}
            <tr>
                <td>{{ white_test.id }}</td>
                <td>{{ white_test.Title }}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ white_test.nbquestion }}</td>
                {% if white_test.nbquestion!=0 %}
                <td>
                    <div class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text" >
                                &nbsp;&nbsp;&nbsp;<a href="{{ path('passerWT',{'id': white_test.id,'i':0,'score':0,'answer':"17D36YUQHZ"}) }}"><span class="spot" ></span><span style="color: #0b7dfd;">Take</span></a>
                            </div>
                        </svg>
                    </div>
                </td>
                    {% else %}

                        <td>
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150" />
                                    <div id="text" >
                                        &nbsp;&nbsp;&nbsp;<a class="unselectable unclick"><span class="spot" ></span><span style="color: grey;">Take</span></a>
                                    </div>
                                </svg>
                            </div>
                        </td>

                {% endif %}
                <td>
                    <div class="svg-wrapper">
                    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                        <rect id="shape" height="40" width="150" />
                        <div id="text" >
                    &nbsp;<a href="{{ path('showwh', {'id': white_test.id,'certif':certif}) }}"><span class="spot"></span><span style="color: #0b7dfd;">Show</span></a>
                        </div>
                    </svg>
                    </div>
                </td>
                <td><div class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text" >
                                &nbsp;&nbsp;<a href="{{ path('white_test_edit', {'id': white_test.id,'certif':certif}) }}"><span class="spot"></span><span style="color: #0b7dfd;">Update</span></a>
                            </div>
                        </svg>
                    </div>

                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="5"><center class="unselectable">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Tests Found</center></td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

           <center><a class="btn btn-success" style="position: center" href="{{ path('white_test_new',{'certif':"OCP"}) }}">Add A Test</a></center>




   <style>
       /*       Just setting CSS for the page   */

       * {
           margin: 0;
           padding: 0;
       }

       html,
       css {
           width: 100%;
           height: 100%;
       }

       .position {
           margin-left: auto;
           margin-right: auto;
           text-align: center;
           margin-top: 15%;
       }

       #workarea {
           position: absolute;
           width: 100%;
           height: 100%;
           background-color: #1e1a3e;
           font-family: Raleway;
       }

       #personal {
           color:white;
           text-decoration:none;
           position:absolute;
           bottom:15px;
           right:2%;
       }
       /*    start code for the actual button:         */


       /*
           Spot is the span on the inside of the href that
           fills the parent and makes the hover and link work
           for the entire div
       */

       .spot {
           position: absolute;
           width: 100%;
           height: 100%;
           top: 0;
           left: 0;
       }
       /*
           This is the outer svg wrapper that the SVG itself will
           fill. Multiple svg-wrapper classes can be put side by side.
       */

       .svg-wrapper {
           margin-top: 0;
           position: relative;
           width: 150px;
           /*make sure to use same height/width as in the html*/
           height: 40px;
           display: inline-block;
           border-radius: 3px;
           margin-left: 5px;
           margin-right: 5px
       }
       /*
         This is where we define the fill, color, thickness,
         and stroke pattern of the SVG when there is no hover.
         The dasharray and offset together define the line position
         under the words. Here's also where the transition speed is set.
       */

       #shape {
           stroke-width: 6px;
           fill: transparent;
           stroke: #009FFD;
           stroke-dasharray: 85 400;
           stroke-dashoffset: -220;
           transition: 1s all ease;
       }
       /*
           Pushing the text up into the SVG. Without this the
           text would be below the div's.
       */

       #text {
           margin-top: -35px;
           text-align: center;
       }

       #text a {
           color: white;
           text-decoration: none;
           font-weight: 100;
           font-size: 1.1em;
       }
       /*
           Changing the shape on hover. I change the color of the stroke,
       make it thinner, then set it to again wrap around the entire parent element.
       */

       .svg-wrapper:hover #shape {
           stroke-dasharray: 50 0;
           stroke-width: 3px;
           stroke-dashoffset: 0;
           stroke: #06D6A0;
       }
   </style>

    <style>
        .unselectable {
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .unclick{ text-decoration: none; cursor: default; }
    </style>
{% endblock %}
